.row {
  margin-top : 20px;
}

#form {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

#map {
  width : 400px;
  height : 400px;
}

#query {
  width: 380px;
  text-align: center;
}

.legend {
    line-height : 18px;
    color : #555;
    background-color : #efefef;
    opacity : 0.9;
    border-width : thin;
    font-size: 9px;
}
.legend i {
    width : 10px;
    height : 12px;
    float : left;
    margin-right : 8px;
    opacity : 0.7;
}
.legend p {
  margin: auto;
  margin-bottom: -6px;
}

.button {
  padding: 4px;
  border-radius: 6px;
  border:1px solid grey;
  font-size: 13px;
  background-color: white;
}
.button:hover {
  font-weight: bold;
}
.button:active{
  box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
}

#table {
  font-size: 11px;
  text-align: center;
}

caption {
  font-size: 11px;
  text-align: left;
}

.dataTables_info, .dataTables_paginate {
  font-size: 11px;
}
