<!DOCTYPE html>

<html>

  <head>
    <title> Atlas </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../static/cqp.css" />
    <link rel="stylesheet" href="../static/dc.css" />
    <link rel="icon" type="image/png" href="../static/favicon_32.png" />
  </head>

  <body>
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <h3> SoSweet - Atlas</h3>
        </div>
      </div>

      <div class="row" id="firstRow">
        <div class="col-md-6 offset-md-3">
          <form id="form">
            <label> Requête &#x2192; </label>
            <input type="text" id="query" name="query"/>
            <div id="submit">
              <input id="button" type="submit" value="Soumettre"/>
              <div id="loader"></div>
            </div>
          </form>
        </div>

        <div class="col-md-6 offset-md-3">
          <p id="nbOccurrences"></p>
        </div>

        <div class="col-md-12">
          <span title="Aide"> <img src="static/info.png" name="image" onmouseover="image.src='static/infoHover.png'" onmouseout="image.src='static/info.png'" id="img"/> </span>
        </div>

        <div class="col-md-6 offset-md-3" id="aide">
          <p>
            <br/>
            Les requêtes doivent être formulées en langage CQL <i>(Corpus Query Language)</i>.
            <br/>
            Le corpus, annoté syntaxiquement, contient 2 554 567 tweets géolocalisés, soit 31 868 064 tokens.
            <br/>
            Pour chaque token, la recherche peut porter sur sa forme (word), son lemme (lemma), ou sa catégorie grammaticale (pos).
          </p>
          <p class="exemples">
            <br/>
            <u>Exemples :</u>
            <br/>
          </p>
          <ul class="exemples">
            <li><b>"rugby"%c</b> - <i>recherche de toutes les occurrences de "rugby", sans prendre en compte la casse des caractères</i></li>
            <li><b>[lemma="plage"]</b> - <i>recherche de toutes les formes du lemme "plage"</i></li>
            <li><b>[word="t'|j'|j’|t’"%c] [pos="V"&word="[^aehioué].*"%c]</b> - <i>recherche des cas d'élision devant un verbe débutant par une consonne</i></li>
          </ul>
            <p id="viewPos"> <u>Mémo POS</u> </p>
            <p id="viewMemo"> <u>Mémo regex</u> </p>
        </div>

        <div class="col-md-3" id="memo">
          <table>
            <tr>
              <th scope="row">[]</th>
              <td>délimite un élément</td>
              <td>[word="chat"]</td>
            </tr>
              <tr>
              <th scope="row">&</th>
              <td>et</td>
              <td>[pos="DET"&lemma="le"]</td>
            </tr>
            <tr>
              <th scope="row">|</th>
              <td>ou</td>
              <td>[pos="ADV|V"]</td>
            </tr>
            <tr>
              <th scope="row">.</th>
              <td>n'importe quel caractère</td>
              <td>[word="<for.e>"]</td>
            </tr>
            <tr>
              <th scope="row">?</th>
              <td>une ou aucune fois</td>
              <td>[word="partie?s?"]</td>
            </tr>
            <tr>
              <th scope="row">+</th>
              <td>une ou plusieurs fois</td>
              <td>[lemma="!+"] [word="j.+"]</td>
            </tr>
            <tr>
              <th scope="row">*</th>
              <td>0, une, ou plusieurs fois</td>
              <td>[word=".*antes"]</td>
            </tr>
            <tr>
              <th scope="row">[^]</th>
              <td>exclure un ou plusieurs caractères</td>
              <td>[word="j[^']"]</td>
            </tr>
            <tr>
              <th scope="row">()</th>
              <td>capturer un groupe</td>
              <td>[word="mang(é|ée|és)"] </td>
            </tr>
            <tr>
              <th scope="row">^$</th>
              <td>début et fin</td>
              <td>[lemma="^a.*z$"]</td>
            </tr>
            <tr>
              <th scope="row">%c</th>
              <td>ne prend pas en compte la casse</td>
              <td>[word="soleil"%c]</td>
            </tr>
            <tr>
              <th scope="row">.?*+|()[]{}^$</th>
              <td>caractères à échapper</td>
              <td>[word="\?"]</td>
            </tr>
          </table>
        </div>

        <div class="col-md-3" id="pos">
          <table>
            <tr>
              <th scope="row">NC</th>
              <td>nom commun</td>
              <th scope="row">NPP</th>
              <td>nom propre</td>
            </tr>
            <tr>
              <th scope="row">DET</th>
              <td>déterminant</td>
              <th scope="row">P</th>
              <td>préposition</td>
            </tr>
            <tr>
              <th scope="row">P+DET</th>
              <td>préposition+déterminant</td>
              <th scope="row">P+PRO</th>
              <td>préposition+pronom</td>
            </tr>
            <tr>
              <th scope="row">ADJ</th>
              <td>adjectif</td>
              <th scope="row">ADV</th>
              <td>adverbe</td>
            </tr>
            <tr>
              <th scope="row">V</th>
              <td>verbe</td>
              <th scope="row">VINF</th>
              <td>verbe infinitif</td>
            </tr>
            <tr>
              <th scope="row">VIMP</th>
              <td>verbe impératif</td>
              <th scope="row">VPP</th>
              <td>verbe participe passé</td>
            </tr>
            <tr>
              <th scope="row">VPR</th>
              <td>verbe participe présent</td>
              <th scope="row">VS</th>
              <td>verbe subjonctif</td>
            </tr>
            <tr>
              <th scope="row">CC</th>
              <td>conjonction coordination</td>
              <th scope="row">CS</th>
              <td>conjonction subordination</td>
            </tr>
            <tr>
              <th scope="row">PRO</th>
              <td>pronom</td>
              <th scope="row">CLS</th>
              <td>pronom clitique sujet</td>
            </tr>
            <tr>
              <th scope="row">CLO</th>
              <td>pronom clitique objet</td>
              <th scope="row">CLR</th>
              <td>pronom clitique réfléchi</td>
            </tr>
            <tr>
              <th scope="row">PROREL</th>
              <td>pronom relatif</td>
              <th scope="row">ADVWH</th>
              <td>adverbe interrogatif</td>
            </tr>
            <tr>
              <th scope="row">PROWH</th>
              <td>pronom interrogatif</td>
              <th scope="row">ADJWH</th>
              <td>adjectif interrogatif</td>
            </tr>
            <tr>
              <th scope="row">DETWH</th>
              <td>déterminant interrogatif</td>
              <th scope="row">ET</th>
              <td>langue étrangère</td>
            </tr>
            <tr>
              <th scope="row">PREF</th>
              <td>préfixe</td>
              <th scope="row">I</th>
              <td>interjection</td>
            </tr>
            <tr>
              <th scope="row">PONCT</th>
              <td>ponctuation</td>
            </tr>
          </table>
        </div>

      </div>

      <div class="row" id="dc">
        <div class="col-md-12">
          <div id="freqByMonth"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="left" id="map"></div>
        </div>
        <div class="col-md-7">
          <table id="table" class="display compact" cellspacing=0>
            <caption id="caption"> Résultats de la requête </caption>
            <thead>
              <tr>
                <th> tri </th>
                <th> Contexte Gauche </th>
                <th> Motif recherché </th>
                <th> Contexte droit </th>
                <th> Code Insee </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="../static/cqp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/dc/3.1.0/dc.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
  </body>

</html>
